<% if (fontfaceStyles) { %>
@font-face {
    font-family: "<%= fontBaseName %>";
    <% if (fontSrc1) { %>src: <%= fontSrc1 %>;<% }%>
    <% if (fontSrc2) { %>src: <%= fontSrc2 %>;<% }%>
    font-weight: normal;
    font-style: normal;
}
<% } %>

.<%= baseClass %> {
    display: inline-block;
    font: normal normal normal 14px/1 <%= fontBaseName %>;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.<%= baseClass %>-fw {
  width: 1.3em;
  text-align: center;
}

<% if (iconsStyles) { %>
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
.<%= classPrefix %><%= glyphs[glyphIdx] %>:before { content: "\<%= codepoints[glyphIdx] %>"; }
    <% } %>
<% } %>
