
@font-face {
    font-family: "fonterrific";
    src: url("font/fonterrific.eot?12aec4ad55e7671c5c58b22abe7b1615");
    src: url("font/fonterrific.eot?#iefix") format("embedded-opentype"),
		url("font/fonterrific.woff?12aec4ad55e7671c5c58b22abe7b1615") format("woff"),
		url("font/fonterrific.ttf?12aec4ad55e7671c5c58b22abe7b1615") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.ft {
    display: inline-block;
    font: normal normal normal 14px/1 fonterrific;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ft-fw {
  width: 1.3em;
  text-align: center;
}


    
.ft-brand-einplatinencomputer:before { content: "\f101"; }
    
.ft-brand-fonterrific:before { content: "\f102"; }
    
.ft-ghost-outline:before { content: "\f103"; }
    
.ft-ghost:before { content: "\f104"; }
    

