
@font-face {
    font-family: "fonterrific";
    src: url("font/fonterrific.eot?ae5f9e53e3c84cf086ac450019b544ad");
    src: url("font/fonterrific.eot?#iefix") format("embedded-opentype"),
		url("font/fonterrific.woff?ae5f9e53e3c84cf086ac450019b544ad") format("woff"),
		url("font/fonterrific.ttf?ae5f9e53e3c84cf086ac450019b544ad") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.ft {
    display: inline-block;
    font: normal normal normal 14px/1 fonterrific;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ft-fw {
  width: 1.3em;
  text-align: center;
}


    
.ft-brand-einplatinencomputer:before { content: "\f101"; }
    
.ft-ghost-outline:before { content: "\f102"; }
    
.ft-ghost:before { content: "\f103"; }
    

